/* ---------------- General ----------------- */

body {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
}
h2 {
    font-weight: lighter;
}

h3 {
    font-size: 1em;
}

.home-flex  {
    display: flex;
    flex-direction: column;
    position: relative;

}


/* -------------store page ---------------*/


.container,
.products-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin: 20px;
    position: relative;
}

.add-cart {
    background: red;
    color: white;
    padding: 10px;

}

/* ----------------------------- Store ----------------------- */

.products-container {
    max-width: 600px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    flex-direction: column;
}

.product-header {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid black 2px;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product img {
    width: 75%;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal{
    width: 10%;
}



/*---------------------- Header and Nav ---------------------- */

header, footer{
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    padding: 10px 30px 10px 30px;
}

nav {
    flex: 5;
    display: none;
    position: fixed;
    top: 64px;
    z-index: 1000;
    opacity: 85%;
    background: white;
}

nav ul {
    padding:0mm;
    text-align:left;
}
nav li {
    display: block;
}

.rainydays {
    flex: 1;
}

.rainydays img {
    max-width: 100px;
}

.logo{
    cursor: pointer;
    flex: 1;
    max-width: 100px;
}

.logo img {
    max-width: 100px;
}

.search {
    flex: 1;
    max-width: 40px;
    min-width: 30px;
    margin-left: 10px;
}

.search img {
    max-width: 60%;
}

.shoppingcart {
    flex: 1;
    max-width: 60px;
    min-width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.shoppingcart a {
    display: flex;
    justify-content: space-evenly;
}

.shoppingcart img {
    max-width: 60%;
}

.shoppingcart a {
    display: hidden;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~nav {
    display: block;
}

.hamburger {
    flex: 1;
    margin: 0px 5px 0px 20px;
}

 /* ---------------------- Links -------------------*/

a{
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

header a {
    color: #2b2b2b;
    padding: 10px;
    font-size: 1.2em;

}
.cta-button{
    background-color: #F7F8F3;
    color: #1C1D21;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 8px;
}

.cta {
    color: #FFFF;
    background-color:#E83024;
    padding: 2px 10px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 0.9em;
    float: right;
    margin: -40px auto auto auto;
}

.cta-effect {
    cursor: pointer;
}


/*---------------------- Front Page ---------------------- */

.container-main {
    background-color: blue;
    display: flex;
}

.container-image {
    width: 100%;   
}

.container-content {
    padding: 10px;
    background-color: black;
}


.frontpage{
    background-image: url("../images/Frontimage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    background-position-x: center;
    background-position-y: top center;
    position: relative;
    text-align: center;
}

.welcome__content{
    position: absolute;
    color: white;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.welcome__content h1 {
    min-width: 310px;
}

.line-span {
    border-bottom: 2px solid white;
    display: block;
}

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* -----------------------newIndex--------------------------- */

.showcase {
    width: 100%;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase video {
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}


.text-video {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-video {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}


.explore-content {
    display: flex;
    flex-direction: row;
    margin: 30px 30px ;
}


.explore-content-men {
    flex: 1;
    margin-right: 10px;
}

.explore-content-women {
    flex: 1;
    margin-left: 10px;
}

.explore-image {
    width: 100%;
}

.overlay-image {
    position: relative;
}

.overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


 .explore-cta:hover {
    transition: 0.3s;
    background-color: white;
    border: 1px solid white;
    color: black;
    padding: 15px 30px;
}

.explore-cta {
    padding: 15px 30px;
    border: 1px solid white;
    color: white;
    opacity: 1;
    text-transform: uppercase;
}

.explore-text {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}


/*---------------------- Jackets Page ---------------------- */


.jacket-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
}

.jackets img {
    width: 100%;
}

.colours {
    width: 50%;
}

.jackets {
    margin-top: 35px;
    max-width: 300px;
    margin: auto;
}

.jackets h1 {
    text-transform: uppercase;
}

/*---------------------- Jackets Specifics Page ---------------------- */

.jacket-specific {
    display: flex;
    max-width: 300px;
    height: 822px;
    margin: 50px auto;
    flex-direction: column;
}

.jacket-image {
    flex: 1;
}

.jacket-image img {
    width: 100%;
}

.specific-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rating {
    flex: 1;
    margin-bottom: -30px;
}

.image-rating {
    max-width: 40%;
    float:right;
    margin-top: -40px;
}

.name {
    flex: 1;
    text-transform: uppercase;
    margin-bottom: -30px;

}

.jacket-specific__price {
    flex: 1;
    font-weight: bold;
}

.choose-colours {
    flex: 1;
}

.size {
    flex: 1;
    color: #707070;
}

#size {
    border: 1px solid  #707070;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    color: #707070;
}

.add-to-cart {
    flex: 1;
}

#cta-cart {
    background-color: #3F88C5;
    padding: 20px 70px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor:pointer;
}



/*------------------------ Checkout Page ------------------------*/
   
  header {grid-area: header;}
  .main {grid-area: main;}
  .email {grid-area: email;}
  .updated {grid-area: updated;}
  .name-info {grid-area: name-info;}
  .surname-info {grid-area: surname;}
  .street-name {grid-area: street-name;}
  .postal-code {grid-area: postal-code;}
  .city {grid-area: city;}
  .country {grid-area: country;}
  .phone {grid-area: phone;}
  .save-info {grid-area: save-info;}
  .total-amount {grid-area: total-amount;}
  .payment-cta {grid-area: payment-cta;}
  .image-small-checkout {grid-area: image-small;}
  .name-jacket-checkout {grid-area: name-jacket;}
  .discount-checkout {grid-area: discount;}
  .apply-discount-checkout {grid-area: apply;}
  .subtotal-checkout {grid-area: subtotal;}
  .subtotal-price-checkout {grid-area: subtotal-price;}
  .line-checkout {grid-area: line-checkout;}
  .total-amount-checkout {grid-area: total;}
  .total-amount-price-checkout {grid-area: total-price;}
  .aside {grid-area: aside;}
  footer {grid-area: footer;}

  .body-checkout {
      display: grid;
      grid-gap: 10px;
      grid-template-areas: 
      'header header'
      'aside aside'
      'main main'
      'footer footer';
      align-content: center;
  }

  .aside {
      display: grid;
      grid-gap: 10px;
      grid-template-areas: 
      'image-small name-jacket name-jacket name-jacket'
      'discount discount discount apply'
      'subtotal . . subtotal-price'
      'line-checkout line-checkout line-checkout line-checkout'
      'total . . total-price'
      ' . . . . '
      ' . . . . '
      ' . . . . '
      ' . . . . '
      ;
  }


  .form-wrapper {
      display: grid;
      grid-gap: 15px;
      padding: 10px;
      justify-content: space-evenly;
      grid-template-areas: 
      'email email'
      'updated updated'
      'name-info surname'
      'street-name street-name'
      'postal-code city'
      'country country'
      'phone phone'
      'save-info save-info'
      'total-amount total-amount'
      'payment-cta payment-cta'
      ;

    }

    .form-wrapper section {
        min-height: 30px;
      }
    
      .form-wrapper input, 
      #discount, 
      #apply {
        border: 1px solid #c4c4c4;
        min-width: 100%;
        border-radius: 5px;
        padding: 5px 0px;
      }
    
      #email-updates, #save-info {
          min-width: 0%;
      }

    .image-small-checkout img {
        width: 100%;
    }
  
    .name-jacket-checkout {
        text-transform: uppercase;
        margin-top: -10px;
    }
  
   .apply-discount-checkout {
        align-self: end;
    }
  
    .line {
        border: 1px black solid;
    }

    .main, .aside {
        max-width: 300px;
        margin: 10px auto;
    }

    .phone, .country, .street-name, .email {
        justify-self: left;
    }

    .total-amount {
        justify-self: center;
        font-size: 1.2em;
        font-weight: bold;
    }

    .total-amount span {
        font-weight: bold;
    }

    .payment-cta {
        justify-self: center;
    }



/*---------------------- Contact Us ----------------------------*/

input,
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin: 10px 20px 10px 0px;
    padding: 10px;
}

.contact {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.contact-wrapper {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.contact-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#message {
    padding: 40px;
}


/*----------------------------- About Us -----------------------*/

.about{
    margin-top: 35px;
    max-width: 300px;
    margin: 30px auto;
}


.about-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
}


.about img {
    width: 100%;
}

.about h1, .about h2 {
    text-align: center;
}

.about h2 {
    text-transform: uppercase;
}



/*------------------------- Footer ------------------------------*/


.help_button img {
    max-width: 90px;
    flex: 1;
}

footer p {
    flex: 1;
    
}

/*---------------------- MEDIA ---------------------- */

@media (min-width: 400px) {

    .jacket-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 600px) {

    .jackets {
        max-width: 500px;
        margin: auto;
    }

    .jackets p {
        max-width: fit-content;
    }


    .jacket-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .jacket-specific {
        display: flex;
        max-width: 600px;
        margin: 50px auto;
        height: auto;
        gap: 20px; 
        flex-direction: row;
    }
    
    .jacket-image {
        flex: 1;
    }
    
    .jacket-image img {
        width: 100%;
    }
    
    .specific-details {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .rating {
        flex: 1;
        margin-bottom: -30px;
    }
    
    .image-rating {
        max-width: 40%;
        float:right;
        margin-top: -40px;
    }
    
    .name {
        flex: 1;
        text-transform: uppercase;
        margin-bottom: -30px;
    
    }
    
    .jacket-specific__price {
        flex: 1;
        font-weight: bold;
    }
    
    .choose-colours {
        flex: 1;
    }
    
    .size {
        flex: 1;
        color: #707070;
        margin-bottom: 15px;
    }
    
    .add-to-cart {
        flex: 1;
    }

    .contact {
        max-width: 600px;
        gap: 20px;
    }

    .contact-wrapper {
        flex-direction: row;
        gap: 60px;
    }


}


@media (min-width: 750px) {

    header {
        justify-content: start;
    }

    nav {
        display: block;
        position: static;
    }

    nav li {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }

    .body-checkout {
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        'header header'
        'main aside'
        'footer footer';
    }

    .main {
        max-width: 1000px;
    }

    .apply-discount-checkout {
        align-self: normal;
        margin-top: 22px;
    }

    .subtotal-checkout,
    .subtotal-price-checkout {
        align-self: end;
    }
    
    .total-amount-checkout, 
    .total-amount-price-checkout {
        align-self: top;
    }

    .about{
        margin-top: 35px;
        max-width: 600px;
        margin: 30px auto;
    }
    
    .about-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1000px;
        margin: 50px auto;
        grid-gap: 10px;
    }




@media (min-width: 800px) {

    .jackets {
        max-width: 700px;
        margin: auto;
    }

    .jackets p {
        max-width: 500px;
    }

    .jacket-list {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }


        .jacket-specific {
            display: flex;
            max-width: 900px;
            margin: 50px auto;
            gap: 20px; 
            flex-direction: row;
        }
        
        .jacket-image {
            flex: 1;
        }
        
        .jacket-image img {
            width: 100%;
        }
        
        .specific-details {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    
        .rating {
            flex: 1;
            margin-bottom: -80px;
        }
        
        .image-rating {
            max-width: 40%;
            float:right;
            margin-top: -40px;
        }
        
        .name {
            flex: 1;
            text-transform: uppercase;
            margin-bottom: -80px;
        
        }
        
        .jacket-specific__price {
            flex: 1;
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: -50px;
        }
        
        .choose-colours {
            flex: 1;
            margin-bottom: -50px;
        }
        
        .size {
            flex: 1;
            color: #707070;
            margin-bottom: 100px;
        }
        
        .add-to-cart {
            flex: 1;
            margin-bottom: -60px;
        }

        #cta-cart {
            background-color: #3F88C5;
            padding: 35px 100px;
            color: white;
            text-transform: uppercase;
            border-radius: 5px;
        }
        
}

@media (min-width: 1000px) {
    
    .body-checkout {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'header header header header'
    'main main main aside'
    'footer footer footer footer';
}





